<!--=========================================================================================

    Statistiche

===========================================================================================-->


<div class="container mt-5">
    <div class="row align-items-center justify-content-between">
        <div class="col-6">
            <div class="text-color fs-1">Statistiche</div>
        </div>

        <div class="col-6">
            <div class="d-flex text-center align-items-center text-color">
                <div (click)="annoPrecedente()" class=" fw-bold fs-1 arrow"><i class="bi bi-caret-left-square-fill"></i>
                </div>
                <h3 class="text-center fs-1">&nbsp;{{annoCorrente}}&nbsp;</h3>
                <div (click)="annoSuccessivo()" class="fw-bold fs-1 arrow"><i class="bi bi-caret-right-square-fill"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="text-color fs-3">Totale soggiorni: {{prenotazioni.length}}</div>
    </div>

    <div class="container">
        <!-- tabella1 Occupazione immobile -->
        <div class="row mt-5 mb-5">

            <!-- tabella1 -->
            <div class="col-lg-6">
                <div class="row">
                    <div class="ps-4 py-2 bg-primary-color text-color rounded-top-3">
                        Occupazione immobile
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 bg-tabella-pari">
                        <div class="ms-1 p-2">Gennaio:</div>
                    </div>
                    <div class="col-6 bg-tabella-pari">
                        <div class="text-end p-2"> {{mesi[0]}} giorni ({{mesi[0]/31*100 | number:'1.2-2'}}%)</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 bg-tabella-dispari">
                        <div class="ms-1 p-2">Febbraio:</div>
                    </div>
                    <div class="col-6 bg-tabella-dispari">
                        <div class="text-end p-2"> {{mesi[1]}} giorni ({{mesi[1]/28*100 | number:'1.2-2'}}%)</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 bg-tabella-pari">
                        <div class="ms-1 p-2">Marzo:</div>
                    </div>
                    <div class="col-6 bg-tabella-pari">
                        <div class="text-end p-2"> {{mesi[2]}} giorni ({{mesi[2]/31*100 | number:'1.2-2'}}%)</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 bg-tabella-dispari">
                        <div class="ms-1 p-2">Aprile:</div>
                    </div>
                    <div class="col-6 bg-tabella-dispari">
                        <div class="text-end p-2"> {{mesi[3]}} giorni ({{mesi[3]/30*100 | number:'1.2-2'}}%)</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 bg-tabella-pari">
                        <div class="ms-1 p-2">Maggio:</div>
                    </div>
                    <div class="col-6 bg-tabella-pari">
                        <div class="text-end p-2"> {{mesi[4]}} giorni ({{mesi[4]/31*100 | number:'1.2-2'}}%)</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 bg-tabella-dispari">
                        <div class="ms-1 p-2">Giugno:</div>
                    </div>
                    <div class="col-6 bg-tabella-dispari">
                        <div class="text-end p-2"> {{mesi[5]}} giorni ({{mesi[5]/30*100 | number:'1.2-2'}}%)</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 bg-tabella-pari">
                        <div class="ms-1 p-2">Luglio:</div>
                    </div>
                    <div class="col-6 bg-tabella-pari">
                        <div class="text-end p-2"> {{mesi[6]}} giorni ({{mesi[6]/31*100 | number:'1.2-2'}}%)</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 bg-tabella-dispari">
                        <div class="ms-1 p-2">Agosto:</div>
                    </div>
                    <div class="col-6 bg-tabella-dispari">
                        <div class="text-end p-2"> {{mesi[7]}} giorni ({{mesi[7]/31*100 | number:'1.2-2'}}%)</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 bg-tabella-pari">
                        <div class="ms-1 p-2">Settembre:</div>
                    </div>
                    <div class="col-6 bg-tabella-pari">
                        <div class="text-end p-2"> {{mesi[8]}} giorni ({{mesi[8]/30*100 | number:'1.2-2'}}%)</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 bg-tabella-dispari">
                        <div class="ms-1 p-2">Ottobre:</div>
                    </div>
                    <div class="col-6 bg-tabella-dispari">
                        <div class="text-end p-2"> {{mesi[9]}} giorni ({{mesi[9]/31*100 | number:'1.2-2'}}%)</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 bg-tabella-pari">
                        <div class="ms-1 p-2">Novembre:</div>
                    </div>
                    <div class="col-6 bg-tabella-pari">
                        <div class="text-end p-2"> {{mesi[10]}} giorni ({{mesi[10]/30*100 | number:'1.2-2'}}%)</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 bg-tabella-dispari">
                        <div class="ms-1 p-2">Dicembre:</div>
                    </div>
                    <div class="col-6 bg-tabella-dispari">
                        <div class="text-end p-2"> {{mesi[11]}} giorni ({{mesi[11]/31*100 | number:'1.2-2'}}%)</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 bg-tabella-pari fw-bold rounded-corner-bottom-left">
                        <div class="ms-1 p-2">Totale:</div>
                    </div>
                    <div class="col-6 bg-tabella-pari fw-bold rounded-corner-bottom-right">
                        <div class="text-end p-2">{{totaleGiorni}} giorni ({{totaleGiorni/365*100 | number:'1.2-2'}}%)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>

            <!-- Grafico1 -->
            <div class="col-lg-5 align-content-center mt-5">
                <canvas id="myChart1"></canvas>
            </div>
        </div>


        <!-- tabella2 Prezzo medio giornaliero -->
        <div class="row mt-5 mb-5">

            <!-- tabella2 -->
            <div class="col-lg-6">
                <div class="row">
                    <div class="ps-4 py-2 bg-primary-color text-color  rounded-top-3">
                        Prezzo medio giornaliero
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 bg-tabella-pari">
                        <div class="ms-1 p-2">Gennaio:</div>
                    </div>
                    <div class="col-6 bg-tabella-pari">
                        <div class="text-end p-2">€ {{pmgMese[0] | number:'1.2-2'}}</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 bg-tabella-dispari">
                        <div class="ms-1 p-2">Febbraio:</div>
                    </div>
                    <div class="col-6 bg-tabella-dispari">
                        <div class="text-end p-2">€ {{pmgMese[1] | number:'1.2-2'}}</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 bg-tabella-pari">
                        <div class="ms-1 p-2">Marzo:</div>
                    </div>
                    <div class="col-6 bg-tabella-pari">
                        <div class="text-end p-2">€ {{pmgMese[2] | number:'1.2-2'}}</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 bg-tabella-dispari">
                        <div class="ms-1 p-2">Aprile:</div>
                    </div>
                    <div class="col-6 bg-tabella-dispari">
                        <div class="text-end p-2">€ {{pmgMese[3] | number:'1.2-2'}}</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 bg-tabella-pari">
                        <div class="ms-1 p-2">Maggio:</div>
                    </div>
                    <div class="col-6 bg-tabella-pari">
                        <div class="text-end p-2">€ {{pmgMese[4] | number:'1.2-2'}}</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 bg-tabella-dispari">
                        <div class="ms-1 p-2">Giugno:</div>
                    </div>
                    <div class="col-6 bg-tabella-dispari">
                        <div class="text-end p-2">€ {{pmgMese[5] | number:'1.2-2'}}</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 bg-tabella-pari">
                        <div class="ms-1 p-2">Luglio:</div>
                    </div>
                    <div class="col-6 bg-tabella-pari">
                        <div class="text-end p-2">€ {{pmgMese[6] | number:'1.2-2'}}</div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-6 bg-tabella-dispari">
                        <div class="ms-1 p-2">Agosto:</div>
                    </div>
                    <div class="col-6 bg-tabella-dispari">
                        <div class="text-end p-2">€ {{pmgMese[7] | number:'1.2-2'}}</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 bg-tabella-pari">
                        <div class="ms-1 p-2">Settembre:</div>
                    </div>
                    <div class="col-6 bg-tabella-pari">
                        <div class="text-end p-2">€ {{pmgMese[8] | number:'1.2-2'}}</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 bg-tabella-dispari">
                        <div class="ms-1 p-2">Ottobre:</div>
                    </div>
                    <div class="col-6 bg-tabella-dispari">
                        <div class="text-end p-2">€ {{pmgMese[9] | number:'1.2-2'}}</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 bg-tabella-pari">
                        <div class="ms-1 p-2">Novembre:</div>
                    </div>
                    <div class="col-6 bg-tabella-pari">
                        <div class="text-end p-2">€ {{pmgMese[10] | number:'1.2-2'}}</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 bg-tabella-dispari">
                        <div class="ms-1 p-2">Dicembre:</div>
                    </div>
                    <div class="col-6 bg-tabella-dispari">
                        <div class="text-end p-2">€ {{pmgMese[11] | number:'1.2-2'}}</div>
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-6 bg-tabella-pari fw-bold rounded-corner-bottom-left">
                        <div class="ms-1 p-2">Totale incassi:</div>
                    </div>
                    <div class="col-6 bg-tabella-pari fw-bold rounded-corner-bottom-right">
                        <div class="text-end p-2">€ {{pmgAnno | number:'1.2-2'}}</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
            
            <!-- Grafico2 -->
            <div class="col-lg-5 align-content-center">
                <canvas id="myChart2"></canvas>
            </div>
        </div>

        <!-- tabella3 Incassi -->
        <div class="row mt-5 mb-5">

            <!-- tabella3 -->
            <div class="col-lg-6">
                <div class="row">
                    <div class="ps-4 py-2 bg-primary-color text-color rounded-top-3">
                        Incassi
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 bg-tabella-pari">
                        <div class="ms-1 p-2">Gennaio:</div>
                    </div>
                    <div class="col-6 bg-tabella-pari">
                        <div class="text-end p-2">€ {{incassoMese[0] | number:'1.2-2'}}</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 bg-tabella-dispari">
                        <div class="ms-1 p-2">Febbraio:</div>
                    </div>
                    <div class="col-6 bg-tabella-dispari">
                        <div class="text-end p-2">€ {{incassoMese[1] | number:'1.2-2'}}</div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-6 bg-tabella-pari">
                        <div class="ms-1 p-2">Marzo:</div>
                    </div>
                    <div class="col-6 bg-tabella-pari">
                        <div class="text-end p-2">€ {{incassoMese[2] | number:'1.2-2'}}</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 bg-tabella-dispari">
                        <div class="ms-1 p-2">Aprile:</div>
                    </div>
                    <div class="col-6 bg-tabella-dispari">
                        <div class="text-end p-2">€ {{incassoMese[3] | number:'1.2-2'}}</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 bg-tabella-pari">
                        <div class="ms-1 p-2">Maggio:</div>
                    </div>
                    <div class="col-6 bg-tabella-pari">
                        <div class="text-end p-2">€ {{incassoMese[4] | number:'1.2-2'}}</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 bg-tabella-dispari">
                        <div class="ms-1 p-2">Giugno:</div>
                    </div>
                    <div class="col-6 bg-tabella-dispari">
                        <div class="text-end p-2">€ {{incassoMese[5] | number:'1.2-2'}}</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 bg-tabella-pari">
                        <div class="ms-1 p-2">Luglio:</div>
                    </div>
                    <div class="col-6 bg-tabella-pari">
                        <div class="text-end p-2">€ {{incassoMese[6] | number:'1.2-2'}}</div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-6 bg-tabella-dispari">
                        <div class="ms-1 p-2">Agosto:</div>
                    </div>
                    <div class="col-6 bg-tabella-dispari">
                        <div class="text-end p-2">€ {{incassoMese[7] | number:'1.2-2'}}</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 bg-tabella-pari">
                        <div class="ms-1 p-2">Settembre:</div>
                    </div>
                    <div class="col-6 bg-tabella-pari">
                        <div class="text-end p-2">€ {{incassoMese[8] | number:'1.2-2'}}</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 bg-tabella-dispari">
                        <div class="ms-1 p-2">Ottobre:</div>
                    </div>
                    <div class="col-6 bg-tabella-dispari">
                        <div class="text-end p-2">€ {{incassoMese[9] | number:'1.2-2'}}</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 bg-tabella-pari">
                        <div class="ms-1 p-2">Novembre:</div>
                    </div>
                    <div class="col-6 bg-tabella-pari">
                        <div class="text-end p-2">€ {{incassoMese[10] | number:'1.2-2'}}</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 bg-tabella-dispari">
                        <div class="ms-1 p-2">Dicembre:</div>
                    </div>
                    <div class="col-6 bg-tabella-dispari">
                        <div class="text-end p-2">€ {{incassoMese[11] | number:'1.2-2'}}</div>
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-6 bg-tabella-pari fw-bold rounded-corner-bottom-left">
                        <div class="ms-1 p-2">Totale incassi:</div>
                    </div>
                    <div class="col-6 bg-tabella-pari fw-bold rounded-corner-bottom-right">
                        <div class="text-end p-2">€ {{incassoAnno | number:'1.2-2'}}</div>
                    </div>
                </div>

            </div>
            <div class="col-lg-1"></div>
          
            <!-- Grafico3 -->
            <div class="col-lg-5 align-content-center">
                <canvas id="myChart3"></canvas>
            </div>
        </div>
    </div>