




<nav class="navbar navbar-expand-lg position-sticky top-0 border-bottom bg-body">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">
			<img src="../../../assets/logo_piccolo.png" width="80px" [routerLink]="['/']">
		</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li *ngIf="user" class="nav-item fs-6">
					<a class="nav-link active" aria-current="page" [routerLink]="['/']" routerLinkActive="active" (click)="chiudiMenu()"
						[routerLinkActiveOptions]="{ exact: true }">Home</a>
				</li>								
				<li *ngIf="!user" class="nav-item fs-6">
					<a class="nav-link" [routerLink]="['/register']" routerLinkActive="active" (click)="chiudiMenu()">Registrati</a>
				</li>
				<li *ngIf="!user" class="nav-item fs-6">
					<a class="nav-link" [routerLink]="['/login']" routerLinkActive="active" (click)="chiudiMenu()">Login</a>
				</li>
				<li *ngIf="user" class="nav-item fs-6">
					<a class="nav-link" [routerLink]="['/prenotazioni']" routerLinkActive="active" (click)="chiudiMenu()">Prenotazioni</a>					
				</li>
				<li *ngIf="user" class="nav-item fs-6">
					<a class="nav-link" [routerLink]="['/statistiche']" routerLinkActive="active" (click)="chiudiMenu()" >Statistiche</a>
				</li>
				
				<div class="row ">
					<div class="col-8"></div>
					<div class="col">
						<div class="d-lg-none text-lg-center">
							<div *ngIf="user" class="text-dark fs-6 fw-bold py-2">
								Benvenuto {{ user.nome }}
							</div>
							<button type="button" class="btn_3 text-center" *ngIf="user" (click)="logout()">
								Logout
							</button>
						</div>
					</div>
				</div>				
			</ul>
		</div>
	</div>


	<!-- schermi grandi -->
	<div class="d-none d-lg-flex justify-content-end align-items-center">
		<div *ngIf="user" class="text-dark me-4 fs-6 fw-bold welcomeText">
			Benvenuto {{ user.nome }}
		</div>
		<button type="button" class="btn_3 me-3" *ngIf="user" (click)="logout()">
			Logout
		</button>
	</div>
</nav>